span {
    margin-left: 10px;
}

.filter {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filter-card-container {
    height: 175px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
    box-shadow: 0 0 8px -4px rgb(0 0 0 / 50%);
}

.filter-card-content {
    height: 175px;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.filter-title {
    font-size: 16px;
    text-align: center;
    text-decoration-line: underline;
    font-weight: bold;
    margin-bottom: 5px;
}

.close-toggle {
    height: 25px;
    width: 25px;
    font-weight: bold;
    padding: 5px;
}

.filter-btn:hover {
    cursor: pointer;
    opacity: .8;
}

.close-toggle:hover {
    cursor: pointer;
}

.MuiTypography-body1 {
    font-size: .8rem !important;
    line-height: 1 !important;
}

.MuiFormControlLabel-root {
    width: 150px !important;
}

@media screen and (max-width: 700px) {
    .filter {
        font-size: 12px ;
    }
    .filter-card-content 
    .filter-card-container{
        height: 100px;
        width: auto;
    }
    .glass {
        width: 25vw !important;
    }
    .panel {
        width: 75vw !important;
    }
 }